<!DOCTYPE html>
<html>

<head>
  <title>首页</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% if (user) { %>
  <div>
    <h2> <a class="item" href="/users">个人主页</a> </h2>
    <a class="item" href="/createpost">发表文章</a>
    <a class="item" href="/signout">登出</a>
  </div>
  

  <% } else { %>
  <div>
    <h2>请先登录</h2>
    <a class="item" href="/signin">登录</a>
    <a class="item" href="/signup">注册</a>
  </div>
  <% } %>

  <br /><br />

  <% for(i = posts.length-1 ; i >= 0 ; i--){ %>
    <div>
      <h3><%= posts[i].title %></h3>
      <h4>by:<%= posts[i].showname %></h4>
      <p><%- posts[i].content.replace(/\n/g, '<br/>') %></p>
      <p><%= posts[i].updatetime %></p>
      <p><a href="/">留言</a>(<%= posts[i].nme %>) <a href="/up">点赞</a>(<%= posts[i].nup %>)</p>
    </div>
    <br />
  <% } %>

</body>

</html>